{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" href="{% static 'img/universidade.png' %}">
    <link rel="stylesheet" href="{% static 'css_accounts/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css_accounts/animations.css' %}" />
    </head>
  <body>
    <header>
      <div class="container-header">
        <h1>Samio Pereira dos Santos</h1>
        <img src="{% static 'img/logo.png' %}" alt="logo" />
        <img
          src="{% static 'img/botao-de-menu.png' %}"
          id="menu-hamburgue"
          alt="menu"
          onclick="openNav()"
        />
      </div>
    </header>
    <nav id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <div class="box-container" id="box-container">
        <h1>Matérias</h1>
        <hr />
        <input
          type="text"
          placeholder="Pesquisar matéria..."
          id="myInput"
          onkeyup="filterFunction()"
        />
        <a href="{% url 'perguntas:categoria_materia' 'Português' %}"
          >Deu certo o CI/CD engrandecido seja Deus!<img
            src="{% static 'img/livros-educativos.png' %}"
            alt="português"
        /></a>
        <a href="{% url 'perguntas:categoria_materia' 'Informática' %}"
          >Vamos ver se agora vai....<img
            src="{% static 'img/informatica.png' %}"
            alt="informatica"
        /></a>
        <a href="{% url 'perguntas:categoria_materia' 'Lógica' %}"
          >Mais uma vez e la vamos nos<img
            src="{% static 'img/pensamento-logico.png' %}"
            alt="logica"
        /></a>
        <a href="{% url 'perguntas:categoria_materia' 'Estatística' %}"
          >Samio Pereira dos Santos<img
            src="{% static 'img/estatisticas.png' %}"
            alt="estatisca"
        /></a>
        <a href="{% url 'perguntas:categoria_materia' 'Direito' %}"
          >Eu acho que deu certo<img
            src="{% static 'img/balanca-de-peso.png' %}"
            alt="direito"
        /></a>
        <a href="{% url 'perguntas:categoria_materia' 'Contabilidade' %}"
          >Mais uma tentativa<img
            src="{% static 'img/contabilidade.png' %}"
            alt="contabilidade"
        /></a>
        <a href="{% url 'perguntas:categoria_materia' 'Criminologia' %}"
          >Ultima vez<img
            src="{% static 'img/criminologia.png' %}"
            alt="contabilidade"
        /></a>
      </div>

      <div class="logout">
        <a href="{% url 'logout' %}"
          >Sair<img src="{% static 'img/logout.png' %}" alt="logout"
        /></a>
      </div>
    </nav>

    <main id="content">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <section class="secao" style="display: none">
        {% if messages %}
          {% for message in messages %}
            <div class="notification">
              {{ message }}
              <span class="notification-progress"></span>
            </div>
          {% endfor %}
        {% endif %}
        
          <div class="container-user">
          <div class="perfil">
            {% if user.imagem %}
              <img src="{{user.imagem.url}}" alt="foto-perfil" />
            {% else %}
              {% if user.sexo == "Masculino" %}
                <img src="{% static 'img/avatar_masculino.jpg' %}" alt="foto-perfil" />
              
              {% elif user.sexo == "Feminino" %}
                <img src="{% static 'img/avatar_feminino.jpg' %}" alt="foto-perfil" />

              {% elif user.sexo == None %}
                <img src="{% static 'img/user2.png' %}" alt="foto-perfil" />
              {% endif %}
            {% endif %}
            <a href="{% url 'perfil_user' user.id %}"><span>Editar Perfil</span></a>
            <p>{{user.first_name}} {{user.last_name}}</p>
          </div>
        </div>
        <div class="container-result">
          <div class="questions">
            <img
              src="{% static 'img/verificacao-preto.png' %}"
              alt="circulo-preto"
            /><br /><br />
            <span>{{total_respostas}}</span>
            <p>Questões Resolvidas</p>
          </div>
        </div>
        <div class="container-result">
          <div class="questions">
            <img
              src="{% static 'img/verificacao-verde.png' %}"
              alt="circulo-preto"
            /><br /><br />
            <span style="color: green">{{respostas_certas}}</span>
            <p style="color: green">Respostas Corretas</p>
          </div>
        </div>

        <div class="container-result">
          <div class="questions">
            <img
              src="{% static 'img/verificacao-vermelho.png' %}"
              alt="circulo-preto"
            /><br /><br />
            <span style="color: red">{{respostas_erradas}}</span>
            <p style="color: red">Respostas Erradas</p>
          </div>
        </div>

        <div class="container-delete">
          <div class="box-delete">
            <button
              class="button1"
              onclick="document.getElementById('id01').style.display='block'"
            >
              Zerar questões resolvidas
            </button>
          </div>
        </div>

        <div class="container-pdf">   
          <div class="box-pdf">
            <a class="button1" href="{% url 'my-pdf' %}" target="blank">Gerar relatorio em PDF</a>
          </div>       
        </div>
      </section>
      <aside class="aside" style="display: none">
        <div class="graphic">
          <input
            type="hidden"
            id="respostas_certas"
            value="{{respostas_certas}}"
          />
          <input
            type="hidden"
            id="respostas_erradas"
            value="{{respostas_erradas}}"
          />
          <canvas id="myChart"></canvas>
        </div>
        <div class="graphic1">
          {% if total_respostas != 0 %}
            <input type="hidden" id="portugues_certas" value="{{portugues_certas}}"/>
            <input type="hidden" id="portugues_erradas" value="{{portugues_erradas}}"/>
            <input type="hidden" id="informatica_certas" value="{{informatica_certas}}"/>
            <input type="hidden" id="informatica_erradas" value="{{informatica_erradas}}"/>
            <input type="hidden" id="logica_certas" value="{{logica_certas}}"/>
            <input type="hidden" id="logica_erradas" value="{{logica_erradas}}"/>
            <input type="hidden" id="estatistica_certas" value="{{estatistica_certas}}"/>
            <input type="hidden" id="estatistica_erradas" value="{{estatistica_erradas}}"/>
            <input type="hidden" id="direito_certas" value="{{direito_certas}}"/>
            <input type="hidden" id="direito_erradas" value="{{direito_erradas}}"/>
            <input type="hidden" id="contabilidade_certas" value="{{contabilidade_certas}}"/>
            <input type="hidden" id="contabilidade_erradas" value="{{contabilidade_erradas}}"/>
            <input type="hidden" id="criminologia_certas" value="{{criminologia_certas}}"/>
            <input type="hidden" id="criminologia_erradas" value="{{criminologia_erradas}}"/>

            <canvas id="myChartBar" width="400" height="200"></canvas>
          {% endif %}
          <button
            class="button2"
            onclick="document.getElementById('id01').style.display='block'"
          >
            Zerar questões resolvidas
          </button>
          
          <a class="button2" href="{% url 'my-pdf' %}" target="blank">Gerar relatorio em PDF</a>

        </div>

        <div id="id01" class="modal">
          <span
            class="close"
            title="Fechar"
            onclick="document.getElementById('id01').style.display='none'"
            >×</span
          >
          <form
            class="modal-content"
            method="POST"
            action="{% url 'perguntas:deletar_questoes_resolvidas' %}"
          >
            {% csrf_token %}

            <div class="container">
              <h1>
                Todas as estatísticas e histórico de questões respondidas serão
                apagados.
              </h1>
              <p>
                Essa ação não poderá ser revertida! Para prosseguir com essa
                ação, digite a seguinte frase para confirmar:
              </p>
              <p class="frase">Desejo zerar minhas estatísticas</p>
              <input type="text" id="frase" placeholder="Digite a frase aqui" />

              <div class="clearfix">
                <button
                  type="submit"
                  class="deletebtn"
                  name="delete"
                  value="Deletar"
                  disabled
                  onclick="document.getElementById('id01').style.display='none'"
                >
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </aside>
    </main>

    <footer class="footer" style="display: none">
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>
    
    <script src="{% static 'scripts/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'scripts/graphic.js' %}"></script>
  </body>
</html>


