{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset</title>
    <!-- <link rel="icon" href="{% static 'img/blog.png' %}" /> -->
    <link rel="stylesheet"href="{% static 'css_accounts/password_form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css_accounts/menu.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Redefinição de senha</h1>
        <img
          id="icone-login"
          src="{% static 'img/rotation-lock.png' %}"
          alt="cadastro"
        />
      </div>
    </header>

    <main>
      <aside>
        <h3> Digite a nova senha </h3>
        
        {% if validlink %}
          <p> Por favor, digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
          
          <form method="POST">
            {% csrf_token %} 
            {{form}}
            
            <div id="Valid-password">
              <h3>A senha deve conter o seguinte:</h3>
              <p id="capital" class="invalid">Uma letra <b>maiúscula</b></p>
              <p id="letter" class="invalid">Uma letra <b>minúscula</b></p>
              <p id="number" class="invalid">Um<b> numero</b></p>
              <p id="length" class="invalid">Mínimo <b>8 caracteres</b></p>
              <p id="repeat-password" class="invalid">As<b> Senhas</b> são iguais</p>
            </div>
            <button type="submit" id="button_reset"name="Update_Password" title="Enviar">Enviar</button>
          </form>
        {% else %}
        <div class="container-info">
          <p style="color: red;">
            Link expirado! Faça o reenvio do link novamente.
          </p>

          <a href="{% url 'login' %}">
            Volta para tela de login
          </a>
        </div>
        {%endif %}
      </aside>
    </main>
  <script src="{% static 'scripts/script.js' %}"></script>
  </body>
</html>
