{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset</title>
    <!-- <link rel="icon" href="{% static 'img/blog.png' %}" /> -->
    <link rel="stylesheet" href="{% static 'css_accounts/password.css' %}"/>
    <link rel="stylesheet" href="{% static 'css_accounts/menu.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <a href="{% url 'login' %}">
          <h1>Redefinição de senha</h1>
          <img
            id="icone-login"
            src="{% static 'img/rotation-lock.png' %}"
            alt="cadastro"
          />
        </a>
      </div>
    </header>

    <main>
      <section>
        <h3>Redefinição de senha enviada</h3>
        <div class="container-text">
          <p>
            Nós te enviamos um email com instruções para configurar sua nova senha, se uma conta existe com o e-mail fornecido, você receberá uma mensagem em breve.
          </p>
          <br>
          <p>
            Se você não recebeu um email, por favor certifique-se que você forneceu um endereço de e-mail válido e verifique sua caixa de spam.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; | Desenvolvido por Samio Santos</p>
    </footer>
  </body>
</html>
