body {
  background: url("../img/pexels-katerina-holmes-5905448.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  background-color: rgba(245, 245, 245, 0.705);
  /* height: 90vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
    margin-top: 100px;
    padding: 20px;
    font-family: sans-serif;
}

aside h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}

aside p {
  margin-bottom: 15px;
}

aside form label {
  font-weight: bolder;
}

aside form input {
  padding: 4px;
  border: 1px solid #6d4a76;
  border-radius: 3px;
  outline: none;

  display: flex;
  margin-top: 10px;
}

aside form input:focus {
  border: 1.5px solid black;
}

aside form ul {
  display: none;
}

aside form #button_reset {
    width: 20%;
    padding: 10px;
    font-size: 13px;
    background-color: black;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transition: 1s;
    margin-top: 20px;
}

aside form #button_reset:hover {
  background-color: rgba(0, 0, 0, 0.74);

}

/* A caixa de mensagem é mostrada quando o usuário clica no campo de senha  */
#Valid-password {
  width: 100%;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#Valid-password p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Adicione uma cor de texto verde e uma marca de seleção quando os requisitos estiverem corretos */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Adicione uma cor de texto vermelha e um "x" quando os requisitos estiverem incorretos */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}