body {
  background: url("../img/pexels-katerina-holmes-5905448.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.705);
}

form {
  font-family: sans-serif;
}

fieldset {
  border: none;
  padding: 1rem;
}

.box-login {
  margin-top: 15vh;
}

.input-block {
  margin-bottom: 1rem;
}

.input-block label {
  font-weight: bold;
  position: relative;
  bottom: 0.5rem;
}

.input-block a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.input-block input {
  width: 100%;
  outline: none;
  padding: 17px;
  border-radius: 3px;
  border: 0.5px solid black;
}

.input-block input:focus {
  border: 1.5px solid black;
}

.box-password {
  width: 0;
  height: 0;
  position: relative;
  float: right;
  right: 25px;
  top: 19px;
}

.box-password img {
  cursor: pointer;
}

.conect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.2rem;
}

.conect img {
  padding-left: 0.7rem;
  height: 2rem;
}

form button {
  width: 25%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 1s;
  margin-left: 18px;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.74);
}

form i {
  position: absolute;
  left: 20px;
  margin-top: 16px;
}

form h5 {
  margin-bottom: 0.5rem;
  text-align: center;
  color: black;
}

form a {
  text-decoration: none;
}

form .input-block input[type="text"],
input[type="password"] {
  padding-left: 25px;
}

::-webkit-input-placeholder {
  color: black;
}

.container-logado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container-logado div {
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(255, 255, 0, 0.411);
  font-weight: bold;
}

.container-logado div button {
  padding: 10px;
  background-color: black;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 2s;
}

.container-logado div button a {
  text-decoration: none;
  color: white;
}

footer {
  position: absolute;
}

.alert-success {
  width: 80%;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.233);
  color: green;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  bottom: 1.8rem;
}

.alert-error {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-weight: bolder;
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  bottom: 1.8rem;
}

@media only screen and (min-device-width: 260px) and (max-device-width: 640px) {
  footer {
    position: absolute;
  }

  .box-password {
    position: relative;
    right: 25px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .box-password {
    position: relative;
    right: 25px;
  }
}

@media (min-width: 535px) {
  .input-block,
  form .button-block,
  .box-password {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-block label {
    margin-top: 10px;
  }

  .box-password {
    position: relative;
    right: 20px;
    top: 2px;
    width: 0;
    height: 0;
  }

  .input-block input {
    width: 30%;
    margin: 5px;
  }

  form i {
    position: relative;
    left: 27px;
    margin-bottom: 18px;
  }

  form .button-block button {
    width: 10%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  main .container-logado div button {
    margin-left: 180px;
  }

  footer {
    position: absolute;
  }

  .alert-error,
  .alert-success {
    width: 50%;
    position: relative;
    bottom: 25px;
    left: 30px;
    margin: 0 auto;
  }
}
