body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;

  background: url("../img/background-login.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.575);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  border: none;
}

.box {
  width: 450px;
  height: 81%;

  font-size: 16px;
  padding: 40px 40px;
  background: #434856e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.box #icon {
  position: relative;
  left: 50%;
  height: 3rem;
}

.box h1 {
  font-weight: 900;
}

.user {
  margin-top: 50px;
}

.user .fas {
  position: absolute;
}

.user input {
  width: 90%;
  margin-bottom: 25px;
  padding: 0px 30px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background: transparent;
  color: #fff;
  transition: 0.3s all;
}

.user input:focus {
  border-bottom: 1px solid rgba(79, 202, 202, 0.452);
}

.user #hide {
  margin-left: -24px;
  cursor: pointer;
}
/* Cor de fundo do autocomplete */
.user input:-webkit-autofill {
  border-bottom: 1px solid grey;
  color: white;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

/* Cor do texto do autocomplete */
.user input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

.box .reset-password {
  text-align: right;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.box .reset-password a {
  color: whitesmoke;
  transition: 0.5s;
}

.box .reset-password a:hover {
  text-decoration: underline;
  color: aquamarine;
}

.box .login-bnt {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box .bnt {
  display: block;
  width: 60%;
  padding: 15px;
  background-color: black;
  color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
  transition: 0.2s all;
  cursor: pointer;
}

.box .bnt:hover {
  opacity: 2;
}

.box h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}

.box .conect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.2rem;
}

.box .conect img {
  padding-left: 0.7rem;
  height: 2rem;
}

.container-logado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.container-logado div {
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(255, 255, 0, 0.541);
  color: black;
  font-weight: bold;
}

.container-logado div button {
  padding: 10px;
  background-color: black;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 2s;
}

.container-logado div button a {
  text-decoration: none;
  color: white;
}

.container-logado div button {
  margin-left: 180px;
}

.alert-error {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-weight: bolder;
  width: 100%;
  border-radius: 5px;
  position: relative;
  top: 0.5rem;
}

.alert-errorinput {
  color: #d11507;
  width: 100%;
  border-radius: 5px;
  position: relative;
  bottom: 1.5rem;
}

.alert-success {
  text-align: center;
  background-color: rgba(0, 128, 0, 0.233);
  color: green;
  font-weight: bolder;
  width: 100%;
  border-radius: 5px;
  position: relative;
  top: 0.5rem;
}

@media only screen and (min-device-width: 260px) and (max-device-width: 640px) {
  .box {
    width: 350px;
    height: 89%;
  }

  .box .bnt {
    width: 70%;
  }

  .container-logado div button {
    margin-left: inherit;
  }
}
