* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background-login.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  background-color: rgba(245, 245, 245, 0.885);
  padding: 20px;
  font-family: sans-serif;
  border-radius: 5px;
}

section h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: black;
}

section .container-text p {
  text-align: justify;
  line-height: 2;

}

section form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

section form label,
#button_reset {
  margin: 8px;
  font-weight: bolder;
}

section form #id_email {
  padding: 4px;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
}

section form #id_email:focus {
  border: 1.5px solid black;
}

form #button_reset {
  padding: 5px;
  font-size: 13px;
  background-color: black;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  transition: 1s;
}

form #button_reset:hover {
  background-color: rgba(0, 0, 0, 0.74);

}

/* Estilo para os erros */
.fieldWrapper .errorlist {
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 2px;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
}

@media (min-width: 700px) {

  main {
    height: 87vh;
  }

  section {
    width: 60%;
    position: relative;
    border-radius: 10px;
  }
  
  section .container-text {
    width: 60%;
    margin: 0 auto;
  }
}
