* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Menu */
header {
  width: 100%;
  height: 4rem;
  font-family: sans-serif;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.container h1 {
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1.29rem;
  color: white;
}

.container a {
  text-decoration: none;
}

/* Main */
form {
  font-family: sans-serif;
}

.input-block {
  width: 90%;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-block-img {
  max-width: 100vw;
  border: none;
  font-size: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#id_imagem {
  padding: 1.5rem;
}

.img-block {
  margin-top: 1rem;
  margin-left: 1.2rem;
}

.img-perfil {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: fill;
}

.input-block-img input[type="file"] {
  display: none;
}

.input-block-img label {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 8px 8px;
  cursor: pointer;
  position: relative;
  transition: 1s;
}

.input-block-img label i {
  position: relative;
  right: 0.2rem;
}

.input-block-img label:hover {
  background-color: rgba(0, 0, 0, 0.685);
}

.input-block label,
.input-block-img label {
  font-weight: bolder;
}

.input-block input,
.input-block select {
  width: 60%;
  padding: 9px;
  border: 0.1px solid black;
  border-radius: 4px;
  outline: none;
}

textarea {
  width: 60%;
  outline: none;
  resize: vertical;
}

.input-block textarea:focus,
input:focus {
  border: 1.5px solid black;
}

button {
  width: 30%;
  background-color: black;
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 3rem;
  transition: 1s;
  font-weight: bolder;
  margin-left: 1rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.685);
}

/* Alertas */

.alert-success {
  text-align: center;
  background-color: rgba(0, 128, 0, 0.233);
  color: green;
  width: 90%;
  margin-left: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.alert-error {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.144);
  color: red;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .input-block,
  h2 {
    width: 80%;
    margin-left: 97px;
  }

  button {
    width: 150px;
    margin-left: 89px;
  }

  .input-block {
    margin-top: 30px;
    width: 65%;
  }

  .input-block-img div {
    margin: 0 auto;
  }

  .img-block {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .input-block-img label {
    padding: 8px 30px;
    top: 1rem;
  }

  .img-perfil {
    margin-top: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .input-block input,
  .input-block select,
  textarea {
    width: 70%;
    outline: none;
  }

  .alert-success,
  .alert-error {
    width: 50%;
    margin-left: 100px;
    text-align: initial;
  }
}
